.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 50px;
    border: 2px solid #fff;
    height: 600px;
    /* width: 100%; */
    background-color: #242424;
}